<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>load cell project 2</title>
    <script src="fe-scripts/vue.js"></script>
    <script src="fe-scripts/highcharts.js"></script>
    <script src="fe-scripts/exporting.js"></script>
    <script src="fe-scripts/export-data.js"></script>
    <link href="./node_modules/vuejs-dialog/dist/vuejs-dialog.min.css" rel="stylesheet">
    <script type="text/javascript" src="./node_modules/vuejs-dialog/dist/vuejs-dialog.min.js"></script>
    <style>
        body {
            background-color: #efefef;
        }

        .chart {
            box-shadow: 0px 0 2px 2px #888;
            min-width: 310px; height: 200px; margin: 30px auto
        }

        .chart > .highcharts-container {
            overflow: visible!important;
        }
    </style>
</head>

<body>
    <div id="app">
        <div>
            <button @click="start" :disabled="record || constrollingDCMotorManually || !(settings[0] || settings[1] || settings[2])">Start</button>
            <button @click="handlePause" :disabled="!record">{{ isPaused ? "Resume" : "Pause" }}</button>
            <button @click="stop " :disabled="!(record || constrollingDCMotorManually)">stop</button>
            <span> limit in kg: </span>
            <input type="text" id="threshold" v-model="threshold" style="width: 40px">
            <span> x: </span>
            <input type="text" style="width: 40px">
            <button @click="up" :disabled="record"><img src="img/up.png" style="width:50px; height: 12px;" /></button>
            <button @click="down" :disabled="record"><img src="img/down.png" style="width:50px; height: 12px;" /></button>

            <input type="checkbox" v-model="settings[0]" :disabled="record">&sigma;
            <input type="checkbox" v-model="settings[1]" :disabled="record">&epsilon;
            <input type="checkbox" v-model="settings[2]" :disabled="record">&epsilon; | &sigma;
        </div>
        <div id="sigmaTime" class="chart" v-show="settings[0]"></div>
        <div id="epsilonTime" class="chart" v-show="settings[1]"></div>
        <div id="sigmaEpsilon" class="chart" v-show="settings[2]"></div>
    </div>
    <script src="index.js"></script>
</body>

</html>